
.dashboard{
	background:#3996bd !important;
}
.page-header-fixed .page-container {
    margin-top: 122px;
}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{
	border-top: 0;
    color: #fff;
}
.page-sidebar .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li.open>a>.arrow:before, .page-sidebar .page-sidebar-menu>li.open>a>i, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar .page-sidebar-menu>li:hover>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i{
	color: #fff;
}
.page-sidebar .page-sidebar-menu>li>a>i[class*=icon-], .page-sidebar .page-sidebar-menu>li>a>i[class^=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class*=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class^=icon-]{
	color: #fff;
}
.page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i{
	color: #fff;
}
.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a{
	color: #fff;
}
.page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a{
	color:#fff;
}
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class*=icon-], .page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class^=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i[class*=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i[class^=icon-]{
	color:#fff;
}
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i{
	color:#fff;
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>i, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a>i, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>i{
	color:#fff;
}
.page-sidebar .page-sidebar-menu li:hover>a>.arrow.open:before, .page-sidebar .page-sidebar-menu li:hover>a>.arrow:before, .page-sidebar .page-sidebar-menu li>a>.arrow.open:before, .page-sidebar .page-sidebar-menu li>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before{
	color:#fff;
}
.page-sidebar .page-sidebar-menu>li>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.arrow:before{
	color:#fff;
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>.arrow.open:before, .page-sidebar .page-sidebar-menu .sub-menu>li.active>a>.arrow:before, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a>.arrow.open:before, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a>.arrow:before, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>.arrow.open:before, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>.arrow:before{
	color:#fff;
}
.page-sidebar .page-sidebar-menu .sub-menu>li>a>.arrow.open:before, .page-sidebar .page-sidebar-menu .sub-menu>li>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>.arrow:before{
	color:#fff;
}
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover{
	    background-color: inherit;
}
.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a{
	background: #166c91;
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a{
	background: #166c91 !important;
}
.page-sidebar .page-sidebar-menu .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu{
	margin:0;
}
.page-sidebar .page-sidebar-menu .sub-menu li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li{
	margin-top:0;
}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{
	font-weight:bold;
	font-size: 14px;
}
.page-sidebar .page-sidebar-menu .sub-menu li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li>a{
	font-weight:bold;
	font-size: 13px;
}
.page-sidebar-menu a.main-link{
	position:relative;
}
.page-sidebar-menu li.open a.main-link::before, .page-sidebar-menu li:hover a.main-link::before, .page-sidebar-menu li.active a.main-link::before{
	position:absolute;
	left:0;
	top:0;
	width:3px;
	height:100%;
	content:"";
	background:#f05419;
}
.page-sidebar-menu li.active a.main-link, .page-sidebar-menu li.active a.main-link:hover{
	background: #166c91 !important;
}
.page-sidebar-menu li.active a > .selected{
	display:none !important;
}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{
	padding-left:8px;
	padding-right:8px;
}
.page-sidebar .page-sidebar-menu li>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before{
	right:9px;
}
.page-sidebar .page-sidebar-menu .sub-menu li>.sub-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li>.sub-menu>li>a{
	padding-left:53px;
}
.mid-header{
	display: inline-block;
    width: 100%;
    padding: 0px 0 5px !important;
    background: #fff;
}
.p-l-r-0{
	padding-left:0px;
	padding-right:0px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-toggle>.langname, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username{
	color:#3996bd;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i{
	color:#2c2c2c;
	font-size:14px;
	font-weight:bold;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>.username{
	font-size:14px;
	font-weight:bold;
}
.dropdown-user a.dropdown-toggle{
	background:none !important;
	padding:0 !important;
}
.dropdown-user-info{
	padding:10px;
	border-bottom:solid 1px #d7d7d7;
}
.dropdown-user-info i, .dropdown-user-info .user-name-email{
	float:left;
}
.dropdown-user-info .user-name-email h6{
	font-size:14px;
	font-weight:bold;
	color:#3996bd;
	    font-family: 'Lato', sans-serif;
}
.dropdown-user .dropdown-menu{
    border-radius: 5px !important;
    width: 260px !important;
	border:solid 1px #d7d7d7;
	-webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
.dropdown-user-info i{
	width: 36px;
    text-align: center;
    font-size: 30px;
    margin-top: 7px;
    display: inline-block;
    margin-right: 7px;
}
.dropdown-user-info a{
	color:#2c2c2c;
	text-decoration:none !important;
}
.dropdown-user-info a:hover{
	color:#3996bd;
	text-decoration:none !important;
}
.dropdown-user-links a{
	color:#2c2c2c !important;
	font-family: 'Lato', sans-serif !important;
	font-size: 13px !important;
    font-weight: bold !important;
}
.dropdown-user-links i{
	font-size: 14px !important;
    color: #2c2c2c !important;
}
.dropdown-user-links-logout{
	text-align:center;
}
.dropdown-user-links-logout a{
	text-align: center;
    color: #fff !important;
    background: #3996bd;
    padding: 12px 0 !important;
	font-size: 15px !important;
	font-family: 'Lato', sans-serif !important;
	font-weight: bold !important;
}
.dropdown-user-links-logout a:hover{
    color: #fff !important;
    background: #286090 !important;
}
.dropdown-user-links-logout i{
	font-size: 16px !important;
    color: #fff !important;
}
.user-rel{
	margin-right:15px;
	font-size:16px;
	position:relative;
}
.user-rel span{
	position: absolute;
    right: -15px;
    top: -14px;
    color: #fff;
    background: #3996bd;
    border-radius: 50% !important;
    padding: 2px 7px;
    font-size: 12px;
}
.user-rel.user-email span{
	background: #139f49;
}
.user-rel.user-noti span{
	background: #f9672f;
}
.dropdown-user{
	height:inherit !important;
}
.page-header{
	    height: inherit !important;
    background: #fff !important;
	    border-bottom: solid 1px #e3e3e3 !important;
}
.page-header.navbar .top-menu .navbar-nav{
	margin-right:0;
}
.mid-header-right {
    margin-top: 28px;
}
.dashboard-welcome h2{
	font-size:25px;
	float:left;
	font-weight: 400;
}
.welcome-date{
	float:right;
	font-size:12px;
	    margin-top: 9px;
}
.dashboard-welcome{
	margin-bottom: 25px;
}
.fy-year{
	background:#fff;
	padding:5px 15px;	
}
.fy-year span{
	font-size:16px;
	margin-right:5px;
}
.fy-year form{
	display: inline-block;
}
.fy-year form select{
	display: inline-block;
	    width: 110px;
}
.invest-dashboard-top-charts{
	background:#fff;
	padding:20px 15px 0;
}

.invest-dashboard-top-charts img{
	max-width:100%;
}
.invest-dashboard-top-charts .col-xs-12, .invest-dashboard-top-charts .col-sm-6, .invest-dashboard-top-charts .col-md-3, .invest-dashboard-top-charts .col-lg-3{
	margin-bottom:20px;
}
.content-blocks{
	margin-bottom: 20px;
}
.portlet.box>.portlet-title>.tools>a.expand{
	background:url(../images/portlet-expand-icon-white.png) no-repeat;
}
.portlet.box>.portlet-title>.tools>a.collapse{
	background:url(../images/portlet-collapse-icon-white.png) no-repeat;
}
.portlet.box.green>.portlet-title, .portlet.green, .portlet>.portlet-body.green{
	background-color:#3996bd;
}
.portlet.box.green {
    border: 1px solid #3996bd !important;
}
.table-scrollable{
	margin:0 !important;
}
.table-bordered>tbody>tr:nth-of-type(odd){
	background-color:#fcfcfc;
}
.table-bordered>thead>tr{
	background-color:#f2f2f2;
	font-size:16px;
}
.table-bordered thead th{
	font-size:15px !important;
}
.dashboard-footer{
	background:#ebebeb;
	text-align:center;
	font-size:12px;
	margin-left: -20px;
    margin-right: -20px;
}
.dashboard-footer a{
	color:#2c2c2c;
	text-decoration:none;
}
.dashboard-footer a:hover, .dashboard-footer a:focus{
	color:#2682a8;
	text-decoration:none;
}
.dashboard-footer-links a{
	margin-right:10px;
	padding-right:10px;
	border-right:solid 1px #2c2c2c;
}
.dashboard-footer-links a:last-child{
	margin-right:0px;
	padding-right:0px;
	border-right:none;
}
.dashboard-footer-copyright{
	color:#7d7d7d;
	margin-top:-10px;
	display: inline-block;
    width: 100%;
	padding-left:30px;
	padding-right:30px;
}
.dashboard-footer-links{
	display: inline-block;
    width: 100%;
	padding-left:30px;
	padding-right:30px;
}
.page-content{
	padding-bottom: 0 !important;
	background: #f1f1f1;
}